[metadata]
name = pyconvert
version = 0.0.1
author = Matheus Henrique Ptasinski Rosa
author_email = matheushpr9@gmail.com
description = Pyconvert is a lib developed with the aim of unifying all the conversion tools a dev might need during development in one place.
long_description = file:README.md
long_description_type = text/markdown
url = https://github.com/matheushpr9/Pyconvert
classifier = 
    Programming Language :: Python :: 3
    License :: OSI Approved :: MIT License
    Operating System :: OS Independent

[options]
packages = find
python_requires = >=3.7
include_package_data = True